h1 {
    font-family: sans-serif;
    color:coral;
}

p {
    font-family: fantasy;
    color:crimson;
    background-color: darkred;
}
#boxy {
    height: auto;
    width:auto;
    background-color: mediumpurple;
    border: 3px solid black;
    margin: 30px;
    padding: 30px
}
#boxywithhiddenoverflow {
    height:33px;
    width: 70px;
    background-color: firebrick;
    border: 3px;
    margin: 4px;
    padding: 20px
}
